@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, thead {
    font-family: Raleway, sans-serif;
}

h1, h2 {
    text-align: center;
}

table {
    border: 2px solid coral;
}

td, th {
    padding: 2px 4px;
    border-bottom: 1px dashed #FF5297;
}

thead {
    background-color: coral;
}

code {
    background-color: #FFF352;
}
.page {
    margin: 0 auto;
    width: 80vw;
}

@media only screen and (min-width: 850px) {
    .page {
        width: 680px;
    }
}